<h2> Sign UP</h2>

<form class="" action="/process-signup" method="post">
  <label for="userName-input"> Email:</label>
  <input id="userName-input" type="text" name="signupUser" placeholder="e.g. arow@gmail.com">
  <br />

  <label for="password-input"> Password:</label>
  <input id="password-input" type="text" name="signupPassword" placeholder="e.g. sASdad23!">
  <br />

  <button> Submit </button>
</form>
